.black-screen {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  .loading-screen {
    position: absolute;
    background: center / cover no-repeat
      url("../images/loading/loading-screen.jpg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
  }
}
