.minesweeper {
  resize: none;
  overflow: visible;
  &.sm {
    width: 280px;
    height: 435px;
  }
  &.lg {
    width: 520px;
    height: 670px;
  }
  &.xl {
    width: 940px;
    height: 670px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
    margin: 5px;
    .content-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      box-shadow: $inverted-shadow;
      margin-bottom: 20px;
      .reset {
        width: 35px;
        height: 35px;
        background: url('../images/icons/minesweeper/smiley-face.png');
        box-shadow: $box-shadow;
        &:active {
          box-shadow: $inverted-shadow;
        }
      }
      .timer,
      .score {
        display: flex;
        div {
          width: 20px;
          height: 35px;
          background: center / cover no-repeat url('../images/icons/minesweeper/display_zero.png');
        }
        .timer-0,
        .score-0 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_zero.png');
        }
        .timer-1,
        .score-1 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_one.png');
        }
        .timer-2,
        .score-2 {
          background: center / cover no-repeat url('../images/icons/minesweeper//display_two.png');
        }
        .timer-3,
        .score-3 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_three.png');
        }
        .timer-4,
        .score-4 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_four.png');
        }
        .timer-5,
        .score-5 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_five.png');
        }
        .timer-6,
        .score-6 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_six.png');
        }
        .timer-7,
        .score-7 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_seven.png');
        }
        .timer-8,
        .score-8 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_eight.png');
        }
        .timer-9,
        .score-9 {
          background: center / cover no-repeat url('../images/icons/minesweeper/display_nine.png');
        }
      }
      
    }
    
  }
  .board {
    display: flex;
    flex-direction: column;
    box-shadow: $inverted-shadow;
    &-row {
      display: flex;
    }
    &-cell {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      width: 30px;
      height: 30px;
      border: 1px dashed rgba(0, 0, 0, 0.74);
      &.empty {
        color: #b9b9b9;
      }
      &.x {
        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: center / 14px 14px no-repeat url('../images/icons/minesweeper/bomb.png'),#b9b9b9 ;
        }
      }
      &-closed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 24px;
        width: 24px;
        background: #b9b9b9;
        z-index: 99;
        box-shadow: $box-shadow;
        &.active {
          box-shadow: $inverted-shadow;
        }
        &.revealed {
          display: none;
        }
        &.true {
          box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
          background: center / 10px 14px no-repeat url('../images/icons/minesweeper/flag.png'),#b9b9b9 ;
        }
      }
    }
  }
  &.gameLost {
    .board {
      &-cell {
        pointer-events: none;
        &.x {
          &::after {
            background: center / 14px 14px no-repeat url('../images/icons/minesweeper/wrong-bomb.png'),#b9b9b9 ;
          }
        }
      }
    }
    .content .content-header .reset {
      background: url('../images/icons/minesweeper/dead-face.png');
    }
  }
  &.gameWon {
    .board {
      &-cell {
        pointer-events: none;
      }
    }
    .content .content-header .reset {
      background: url('../images/icons/minesweeper/cool-face.png');
    }
  }
  
}
.c-blue {
  color: rgb(0, 0, 255);
}
.c-green {
  color: rgb(0, 128, 0);
}
.c-red {
  color: rgb(255, 0, 0);
}
.c-dark-blue {
  color: rgb(0, 0, 105);
}
.c-dark-red {
  color: rgb(105, 0, 0);
}
.c-dark-green {
  color: rgb(0, 70, 0);
}
.c-yellow {
  color: rgb(148, 148, 0);
}
.c-black {
  color: #000;
}
.best-times {
  resize: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  min-height: 200px;
  height: 200px;
  z-index: 2000;

  .best-times-content {
    padding: 1rem 1rem;
    div {
      display: flex;
      justify-content: space-around;
      span:nth-child(1) {
        width: 120px;
      }
      span:nth-child(2) {
        width: 100px;
      }
      span:nth-child(3) {
        width: 100px;
        text-align: end;
      }
    }
    .best-times-buttons {
      margin-top: 1.5rem;
      div {
        padding: 0.1rem 0.6rem;
        &:active {
          box-shadow: $inverted-shadow;
        }
      }
    }
  }
}
.set-best-time {
  resize: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  min-height: 200px;
  height: 200px;
  z-index: 2000;
  .set-best-time-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  .set-best-time-buttons {
    margin-top: 1.5rem;
    div {
      padding: 0.1rem 0.6rem;
      &:active {
        box-shadow: $inverted-shadow;
      }
    }
  }
}