.snake {
  resize: none;
  overflow: visible;
  width: 510px;
  height: 582px;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
    margin: 5px;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
