.snake {
  resize: none;
  overflow: visible;
  width: 1010px;
  height: 682px;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
    margin: 5px;
   
  }
}
