@import "bootstrap-import";
@import "footer";
@import "windows";
@import "loading-screen";
@import "desctop";

body {
  background: #008080;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  user-select: none;
  font-weight: 300;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}
.memphis {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  .draggable-container {
    height: 100%;
    width: calc(100% - 0.5rem);
    margin: 0.25rem auto 60px auto;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

.gsap-header {
  color: #fff;
  max-width: 200px;
}
